@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Parbad Demo</h1>
    <br />
    <a asp-area="" asp-controller="Payment" asp-action="Pay" class="btn btn-primary btn-lg">Make a payment</a>
    <a asp-area="" asp-controller="Payment" asp-action="Refund" class="btn btn-primary btn-lg">Refund a payment</a>
</div>
