@model Parbad.Sample.Mvc.Models.RequestViewModel

<h1>Request</h1>

@using (Html.BeginForm("Pay", "Payment", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Amount, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Gateway, new { @class = "control-label" })
        @Html.EnumDropDownListFor(model => model.Gateway, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Pay</button>
}
