@model Parbad.Core.RequestResult

<h1>Request result</h1>

<table class="table">
    <tr>
        <td>Reference ID</td>
        <td>@Model.ReferenceId</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td>Message</td>
        <td class="text-lg">@Model.Message</td>
    </tr>
</table>