@model Parbad.Sample.Mvc.Models.RefundViewModel

<h1>Refund a payment</h1>

@Html.ValidationSummary()

@using (Html.BeginForm("Refund", "Payment", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.TrackingNumber, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.TrackingNumber, new { @class = "form-control" })
    </div>
    <button class="btn btn-success">Refund</button>
}
