@model Parbad.Sample.Mvc.Models.RequestViewModel

<div class="text-center">
    <h1 class="display-4">Parbad Demo</h1>
    <br />
    <a href="@Url.Action("Pay", "Payment")" class="btn btn-primary btn-lg">Make a payment</a>
    <a href="@Url.Action("Refund", "Payment")" class="btn btn-primary btn-lg">Refund a payment</a>
</div>
